data/cifar-10-batches-py
data/ct
data/MNIST
data/msd
data/protein
data/workloads
data/cifar-10-batches-py
data/cifar-10-batches-py.tar.gz
data/cifar-10-python.tar.gz
data/adult.csv
nohup.out
__pycache__
runlaf.log
runN.log
runNmlp.log
runBS.log
runPL.log
runMLP.log
runKAN.log
runLAN.log
runLANBS.log
runLANPL.log
Expe.ipynb
test.ipynb
model
pltf.py
runall.sh
coef